body {
	font-family: 'Titillium Web', sans-serif;
	}
h6,
h5,
h4,
h3,
h2,
h1 {
	font-family: 'Barlow', sans-serif;
}

.logo img {
	width:250px
	
}

#footer {background-color:#C9D6EA;color:#011627}

#lowerfooter {background-color:#3C30D2;color:#fff}